<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Board Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navToggle">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" #rla="routerLinkActive">
                <a class="nav-link" routerLink="/board-games">Home <span class="sr-only" ngif="rla.isActive">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>